[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-api-python-client = "==2.0.2"
mail-parser = "*"
pyqt5 = "==5.12.3"
qdarkstyle = "*"
requests = "*"
google-auth-oauthlib = "*"
pyqtwebengine = "==5.12.1"
aiohttp = "*"
pyinstaller = "*"

[requires]
python_version = "3.8"
